<!DOCTYPE html>
<html>
    <head>
        <title>testing file uploading drag and drop design</title>
        <link rel="stylesheet" href="test.css">
        <script type = "text/javascript" src = "../test.js"></script> 
    </head>

    <body>
        <div id="uploadloc"></div>
        <div class="droparea" id="droparea">drag and drop and image of yourself.</div>
    </body>
</html>